/*
Projects can override this file. For details, see:
https://www.docsy.dev/docs/adding-content/lookandfeel/#project-style-files
*/

// Rename or match your hero banner color
$primary: #e1f0ff;
$navbar-bg: $primary;
$td-footer-bg-color: $primary;

// Optional light/dark mode
$td-enable-dark-light-mode: true;

